@polarity:registry=https://artifactory.devhub-cloud.cisco.com/artifactory/api/npm/npm-cx-platform
//artifactory.devhub-cloud.cisco.com/artifactory/api/npm/npm-cx-platform/:_auth="bWl0c2hldHQ6Y21WbWRHdHVPakF4T2pFM05qZ3hNekl6TURRNmRtTk9jVVpRV0dsd2FFMDVaemRNUkdaNllXbExRM0JqWnpWeQ=="
always-auth=true
registry=https://registry.npmjs.org/
